/*----Colors */


header {
    background-color: #91C7B1;
}

.nav-background {
    background-color: #91C7B1;
}

footer {
    background-color: #91C7B1;
}

a:hover {
    color: #800000;
}

.buy-poetry i {
    color: #800000;
}

.newsletter-icon {
    color: #800000;
}

.bookshop-links a:hover {
    color: #800000;
}
.social-icon i {
    color: #800000;
}

.gallery-background {
    background-color: #D6CCC2;
}


/*----General Styles */
body {
    margin: 0;
    padding: 0;
}

h1 {
    visibility: hidden;
    font-size: 3px;
}

h2 {
    font-family: Trocchi, sans-serif;
    font-size: 30px;
    font-style: italic;
    color: #D6CCC2;
}

h3 {
    font-family: Open sans, sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    color: #293F14; 
}

h4 {
    font-family: Open sans, sans-serif;
    font-weight: 400;
    font-size: 16px;
}

h5 {
    font-family: Arial, sans-serif;
    color: #02033C;
}

/*----Header */

.row {
    margin: 0px;
}

.nav-position ul {
    padding: 75px 100px;
    margin: 0px; 
}

.logo-max {
    max-width: 220px;
    margin: 0px;
}


.nav-button {
    font-family: Arial, sans-serif;
    font-size: 20px;
    text-align: center;
    padding: 2px 30px;
    background-color: #D6CCC2;
    border-radius: 25px;
}

ul {
    display: flex;
    flex-wrap: wrap;
}

li .nav-button {
    margin-left: 10%;
}

li {
  float: left;
  list-style-type: none;
  font-family: Arial, sans-serif;
  font-size: 20px;
}

a {
  
  padding: 10px;
  color: black;
}

.nav-icon{
    color: #800000;
}

.icon {
    font-size: 30px;
    color: #800000;
}

/*----Footer*/


footer {
    height: 250px;
    margin: 0px;
    position: relative;
    padding-bottom: 0px;
}

#footer-details {
    padding: 20px;
}

.social-background {
    background-color: #91C7B1;
    margin-bottom: 0%;
    padding-bottom: 0%;
}

.buy-poetry {
    
    padding-left: 25%;
    padding-bottom: 0%;
}

.subscribe-newsletter {
    padding-left: 15%;
}

.newsletter-button {
    background-color: #800000;
    color: #f5f4f4;
    font-family: Arial, sans-serif;
    font-size: 18px;
    padding-top: 2%;
}

.form-border {
    border-top: none;
    border-right: none;
    border-left: none;
    background-color: #91C7B1;
    font-family: Arial, sans-serif;
    font-size: 18px;
}

.footer-extra {
    padding-top: 2%;
}


/*----Homepage */
.home-banner {
    background-image: url(/assets/images/galway-banner.jpg);
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 500px;
    margin: 0;
}

.quote-background {
    background-color: #800000;
    position: relative;
}

.quote-box-size {
    padding: 5% 1% 5% 2%;
    position: relative;
}

.gallery-size {
    height: 500px;
    width: 500px;
    
}

.gallery-size:hover {
    filter: brightness(0.5);
}

.image-position {
    padding: 40px 40px 40px 40px;
    width: 100%;
}

.gallery-caption {
    text-align: center;
}


/*----About Page */

.about-size {
    padding: 7% 10% 7% 10%;
}

/*----Media Queries */

@media screen and (max-width: 1023px) {
.mobile-nav {
    padding-left: 40%;
    padding-top: 10%;
}
 
.nav-position {
    padding: 15% 40% 0% 0%;
    margin: 0%;
}    
  
.nav-position ul {
    padding: 0px;
    margin: 0px;
}
.mobile-logo-pos {
    padding-left: 15%;
}

.mobile-banner {
    max-height: 50%;
}

.quote-box-size {
    padding: 7%;

}    

h2 {
    font-size: 20px;
}

h3 {
    font-size: 18px;
}

.mobile-gallery {
    max-height: 200px;
    max-width: 90%;
    padding: 5%;
    margin: 0%;
}

.gallery-caption {
    overflow: auto;
    text-align: center;
}

.mobile-caption {
    max-width: 90%;
}
}

@media screen and (max-width: 799px) {
#footer-details{
    height: 150%;
    padding: 5%;
}

.mobile-logo-pos {
    padding-left: 10%;    

}
}

@media screen and (max-width: 414px) {
.mobile-nav {
    padding-top: 0%;
    padding-left: 30%;
    background-color: #91C7B1;
}

.nav-position ul {
    padding: 0px;
    margin: 0px;
}

.footer-padding {
    margin: 0px;
    padding: 0px;
    height: 25%;
}

a {
    font-size: 17px;
}

h2 {
    font-size: 17px;
}

h3 {
    font-size: 90%;
    text-align: center;
}

h5 {
    font-size: 16px;
}

.newsletter-button {
    font-size: 16px;
}

.subscribe-newsletter {
    padding-left: 5%;
}

.mobile-email {
    max-width: 3%;
}

.mobile-gallery {
    max-height: 250px;
    max-width: 100%;
    padding: 5% 5% 2% 2%;
    margin: 0%;
}

.mobile-caption {
    max-width: 100%;
}

}